:root {
	/*  Signalisiere, dass die Seite helle und dunkle Darstellung unterstützt.
	https://css-tricks.com/a-complete-guide-to-dark-mode-on-the-web/#aa-handling-user-agent-styles */
	color-scheme: light dark;

	/* Hier eigene Farben definieren oder Farben von OpenProps nehmen.
	https://open-props.style/#colors
	*/
	--my-color: var(--stone-3);
	--imperial-red: #673ab7;
	--honeydew: #ede7f6;
	--powder-blue: #673ab7;
	--celadon-blue: hsl(203 39% 44%);
	--prussian-blue: hsl(215 50% 23%);
	--black: hsl(0 10% 6%);

	/*  Variablennamen zum Beschreiben der Funktion */
	--background-color: var(--honeydew);
	--text-color: var(--prussian-blue);
	--heading-color: var(--imperial-red);
	--link-color: var(--imperial-red);
	--active-link-color: var(--celadon-blue);
	--header-footer-background: var(--powder-blue);
	--header-color: var(--imperial-red);
}

* {
	transition: color, background-color 0.5s ease;
}
