/* Hier Komponenten importieren */

#demo-carousel-container {
	margin: 7rem auto;
	.image-corousel {
		border-radius: 3rem;
		border-radius: 2rem;
		object-fit: contain;
	}

	.legend {
		text-transform: uppercase;
	}
}
